

img {
    float: left;
    height: 350px;
    width: 600px;
}

form {
    padding-left: 610px;
}

h1 {
    padding-left: 610px;
    border-bottom-style:inset;
}

h3 {
    padding-left: 610px;
}